# Ignore discrimination_threshold_plot.py file
discrimination_threshold_plot.py

# Ignore confusion_matrix_plot.py file
confusion_matrix_plot.py

# Ignore all __pycache__ directories and their contents recursively
**/__pycache__/